<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCeFS55AataS9eMvTJMJniu4waGHy7qw0s</string>
	<key>GCM_SENDER_ID</key>
	<string>51402909238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tarteelequran.student</string>
	<key>PROJECT_ID</key>
	<string>tarteel-quran</string>
	<key>STORAGE_BUCKET</key>
	<string>tarteel-quran.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51402909238:ios:6f8aa5243c000ac57a9a97</string>
</dict>
</plist>